<div class="container my-5">
  <h2 class="text-center mb-4" style="color: #333;">Rent with following 3 working steps</h2>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="icon-circle mb-3">
        <i class="fas fa-map-marker-alt fa-3x" style="color: #4A90E2;"></i>
      </div>
      <div class="text-box">
        <h4>Choose Location</h4>
        <p>Choose your and find your best car.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="icon-circle mb-3">
        <i class="fas fa-calendar-alt fa-3x" style="color: #50B3A2;"></i>
      </div>
      <div class="text-box">
        <h4>Pick-up Date</h4>
        <p>Select your pick-up date and time to book your car.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="icon-circle mb-3">
        <i class="fas fa-car fa-3x" style="color: #F5A623;"></i>
      </div>
      <div class="text-box">
        <h4>Book Your Car</h4>
        <p>In just three clicks, you have a car at your disposal.</p>
      </div>
    </div>
  </div>
</div>
