<div data-controller="search">
  <%= form_with url: root_path, method: :get, data: { search_target: 'form' }  do |f| %>
    <%= f.text_field :query, class: "form-control", placeholder:
                     "Type a car title", value: params[:query],
                     data: {
                        search_target: "input",
                        action: "keyup->search#update"
                      } %>
  <% end %>
  <div class="container">
    <div class="row" data-search-target="list">
    </div>
  </div>
</div>
