<div class="container text-center my-5 pt-5">
  <h2 class="p-3"> Our Customers Speak Out </h2>
  <div id="carouselExampleSlidesOnly" class="carousel slide testimonial-carousel" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner">
      <!-- Testimonial 1 -->
      <div class="carousel-item active">
        <div class="testimonial">
          <p class="lead">"Thought I rented a sports car, turned out to be a go-kart. Best mistake of my life!"</p>
          <p class="testimonial-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>- Xavier Truong</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p class="lead">"The car had a mind of its own, kept taking me to fast food places. Loved it!"</p>
          <p class="testimonial-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>- Sarah Connor</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p class="lead">"Rented a car for a road trip. It came with a free dog in the backseat. 10/10 would bark again."</p>
          <p class="testimonial-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>- Mike Ross</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p class="lead">"The GPS voice was so charming, I drove extra miles just to keep the conversation going."</p>
          <p class="testimonial-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>- Jane Doe</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p class="lead">"Car rental was cheaper than my coffee habit. Now, I live in the car."</p>
          <p class="testimonial-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>- John Smith</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial">
          <p class="lead">"Forgot to return the car on time because it felt like it already belonged to me. They understood."</p>
          <p class="testimonial-rating">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </p>
          <p>- Emma Stone</p>
        </div>
      </div>
    </div>
  </div>
</div>
