<div class="container text-center my-5">
  <div class="row">
    <div class="col-md-6">
      <div class="testimonial">
        <p class="lead">"Amazing service! Renting was smooth and the car was perfect for our road trip."</p>
        <p>- Daniele Guasco</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="testimonial">
        <p class="lead">"Found the perfect rental for my budget. The process was straightforward and hassle-free."</p>
        <p>- Florent Vandroy</p>
      </div>
    </div>
  </div>
</div>
