<div class="container my-5 pt-5">
  <h2 class="text-center mb-4" style="color: #333;">Why Choose CarBnb?</h2>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="icon-circle mb-3">
        <i class="fas fa-car fa-3x" style="color: #F5A623;"></i> <!-- Keep the car icon yellow -->
      </div>
      <div class="text-box">
        <h4>Variety of Cars</h4>
        <p>Choose from a wide range of vehicles to fit your needs.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="icon-circle mb-3">
        <i class="fas fa-hand-holding-usd fa-3x" style="color: #50B3A2;"></i> <!-- Use the color for money icon from the steps section -->
      </div>
      <div class="text-box">
        <h4>Affordable Prices</h4>
        <p>Competitive pricing to save you money on your journeys.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="icon-circle mb-3">
        <i class="fas fa-users fa-3x" style="color: #4A90E2;"></i> <!-- Use the color for community icon from the steps section -->
      </div>
      <div class="text-box">
        <h4>Trusted Community</h4>
        <p>Rent cars from verified owners within a trusted community.</p>
      </div>
    </div>
  </div>
</div>
