<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if current_user  %>
  <%= current_user.email %>
<% else  %>
  <p>You are not log in</p>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
<% end %>
