<%# du html %>
N'impporte quoi
<div class="Buttons">
  <%= link_to "Back", cars_path, class: 'btn btn-primary' %>
  <%= link_to "Delete the car", car_path, class: 'btn btn-primary', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>
